.container {
  background-image: url('/src/frontend/images/start.png');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.logo {
  background-image: url('/src/frontend/images/logo.png');
  z-index: 1;
  width: 68px;
  height: 68px;
  margin-bottom: 20px;
}

.text {
  color: white;
  font-size: 20px;
  width: 540px;
  margin: 10px;
  text-align: center;
}
.section {
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  width: 150px;
  height: 50px;
  margin-right: 30px;
}
.signin {
  width: 150px;
  height: 50px;
}
